<form action="{{ path('msp_core_article_new') }}" method="post">
    <input type="text" name="title">
    </br>
    <input type="text" name="description">
    </br>
    <input type="submit" value="Add new article"/>
</form>